{% extends "admin/base_initial.html" %}
{% load i18n static %}

{% block bodyclass %}{{ block.super }} password-reset auth{% endblock %}

{% block title %}{% translate "Password reset successful" %}{% endblock %}

{% block initial-content %}
  <h1 class="h3 mb-3 fw-normal">{% translate "Password reset successful" %}</h1>
  <p class="alert alert-info">{% translate "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." %}</p>

  {% url 'admin:index' as admin_url %}
  {% if admin_url %}
    <br/>
    <p>
      <a class="link-body-emphasis" href="{{ admin_url }}">
        {% translate 'Go back to the login page.' %}
      </a>
    </p>
  {% endif %}
{% endblock %}
